<!DOCTYPE html>
<html>
    <h3 >Hello {{ username }}</h3>
    <body>
        <h3 title="Title">Welcome to the AI Career Path Generator</h3>
        <form class="column" action="/message" method="post">
        <label for="IdealCareer">Your Ideal Career Path:</label><br>
        <input class="input" type="text" id="idealCareer" name="IdealCareer" value="" style="width: 562px"></input><br>
        <label for="Country">Your Country of Residence:</label><br>
        <input class="input" type="text" id="Country" name="Country" value="" style="width: 562px"></input><br>
        <label for="Age">Your Grade:</label><br>
        <input class="input" type="text" id="age" name="Age" value="" style="width: 562px"></input><br>
        <label for="interestsSkills">Your Interests/Skills:</label><br>
        <input class="input" type="text" id="interestsSkills" name="interestsskills" value="" style="width: 562px"></input><br>
        <input class="button" type="submit" value="Generate"><br>
    </body>


    
</html>